<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
  <%= form_for @list do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control",  auto_complete: "off", placeholder: "Please give ToDo list a title" %>
    </div>
    <div class="form-group">
      <%= f.label :Description %>
      <%= f.text_field :Desc, class: "form-control",  auto_complete: "off", placeholder: "Please give your list a description" %>
    </div>
    <div class="form-group">
      <%= f.submit "Create new list", class: "btn btn-info btn-lg" %>
    </div>
  <% end %>
  </div>
</div>