<h3 class="dashboard">My dashboard</h3>
<div class="jumbotron jumbotron-list">
  <div>
    <h2><b>List Name: </b></br><%= link_to @list.title, edit_list_path(@list) %></h2>
    <h2 class="lead"><b>Description:</b><%=  markdown @list.description %></h2>
  </div>
  <div class="row input-bar">
    <div class="col-md-12 new-item">
      <%= render partial: 'items/form', locals: { list: @list, item: @list.items.build } %>
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="col-md-12 panel-heading">
      <div class="col-md-1 panel-title">
        <h5>Check</h5>
      </div>
      <div class="col-md-7 panel-title">
        <h5>ToDo List Task</h5>
      </div>
      <div class="col-md-2 panel-title">
        <h5 class="sortable "><span class='pull-left'>Days left</span><%= sortable "created_at", " " %></h5>
      </div>
      <div class="col-md-2 panel-title">
        <h5>Actions</h5>
      </div>
    </div> 
    <div class="panel-body">
      <div class="js-list">
        <%= render @items %>  
      </div>           
    </div>  
    <div class="panel-footer">
      <div class="pull-left">
        <p>
          <%= link_to destroy_all_list_items_path(@list), class: "btn btn-warning btn-md", method: :delete do %> 
            <span>Clear List?</span>
          <% end %> 
        </p>
      </div>
      <div class="pull-right">
        <p>
          <%= link_to @list, method: :delete, data: { confirm: "Are you sure you want yo delete this list?" }, class: "btn btn-danger btn-md" do %> 
            <span>Delete List?</span>
          <% end %> 
        </p>
      </div>   
    </div>
  </div>

