
<div class="jumbotron">
  <div>
    <h1><%= markdown @list.title %></h1>
    <h4 class="lead"><%= markdown @list.description %></h4>
  </div>
  <div class="row input-bar">
    <div class="col-md-12">
      <%= render partial: 'items/form', locals: { list: @list, item: @list.items.new } %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <p><%= link_to edit_list_path, class: "btn btn-info btn-md" do %> 
        <span>Edit</span>
      <% end %> 
      </p>
    </div>
    <div class="col-md-4">
      <p><%= link_to '#', class: "btn btn-warning btn-md" do %> 
        <span>Clear</span>
      <% end %> 
      </p>
    </div>
    <div class="col-md-4">
      <p><%= link_to @list, method: :delete, data: { confirm: "Are you sure you want yo delete this list?" }, class: "btn btn-danger btn-md" do %> 
        <span>Delete</span>
      <% end %> 
    </div>
  </div>  
</div>

<% if @list.nil? %>
  <%= link_to "Create new list", new_list_path, class: "btn btn-success" %>
<% else %>
  <div class="panel panel-default">
    <div class="col-md-12">
      <div class="col-md-1 panel-heading">
        <p>Check</p>
      </div>
      <div class="col-md-7 panel-heading">
        <p>ToDo List Item</p>
      </div>
      <div class="col-md-2 panel-heading">
        <p>Time Left</p>
      </div>
      <div class="col-md-2 panel-heading">
        <p>Actions</p>
      </div>
    </div> 
      <div class="panel-body">
        <ul>
        <% if @list.items != nil %>
          <%= render partial: 'items/item', collection: @item %>      
        <% end %>
          
        </ul>
      </div>
    </div>   
  </div>
<% end %>




