<% if item.persisted? %>
  <%= div_for(item, class: 'col-md-12 list-item', id: "item_#{item.id}") do %>
    <div class="col-md-8 description "> 
      <% if checked = item.checked_item(item) %>     
        <%= link_to [@list ,item, checked] , method: :destroy do %>
          <input type="checkbox" class=<%= "#{item.id}" %> data-toggle="tool-tip", data-placement="top", title="check task" checked>
        <% end %> 
      <% else %>
        <%= link_to [@list ,item, Checked.new] , method: :post do %>
          <input type="checkbox" class=<%= "#{item.id}" %> data-toggle="tool-tip", data-placement="top", title="Uncheck task">
        <% end %> 
      <% end %>    
      <span class=<%= "#{item.id}" %>><%= markdown item.name %></span>    
    </div>
    <div class="time-left col-md-2">
      <%= "#{pluralize(item.days_left, "day")} left" %>
    </div> 
    <div class="button col-md-2">
      <button class="btn btn-success btn-sm button-list", data-toggle="tool-tip", data-placement="top", title="Complete task">
        <%= link_to "", [item.list, item], class: "glyphicon glyphicon-ok", method: :delete, remote: true %>
      </button>
    </div>
  <% end %>
<% end %>


