<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-tooltip.js"></script>
</head>
<body>
  <div class="container">
    <%= render 'partials/header' %>
    <%= render 'partials/flash' %>
    <%= yield %>
  </div>
</body>
</html>
