<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
   <ul class="nav nav-pills">
    <li><%= link_to "Blocitoff", root_path %></li>
    <div class="pull-right user-info">
      <li>
        <% if current_user %>
          <%= current_user.email %>! <%= link_to destroy_user_session_path, class: "btn btn-default btn-xs", method: :delete  do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "btn btn-default" do %>
            <span>Sign-In</span>
          <% end %>
             or 
          <%= link_to new_user_registration_path, class: "btn btn-default" do %>
            <span>Sign-up</span>
          <% end %>
        <% end %>
      </li>   
    </div>
  </ul>

    <%= yield %>
  </div>
</body>
</html>
